body {
    background-image: url("../img/bg-img-coding.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5em 2em;
}

.section-title {
    font-size: 2.25em;
    font-weight: 700;
    margin-bottom: 1.25em;
    text-align: center;
}

.section-text {
    font-weight: 500;
    text-align: center;
    line-height: 1.75em;
}

.form-title {
    margin-bottom: 1em;
    padding: 1em 5em;
    background-color: #5656d1;
    text-align: center;
    border-radius: .5em;
    line-height: 1.5em;
}

.form-text {
    margin-bottom: 3em;
}

.card-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.75em;
    border-radius: .7em;
}

.input-box {
    margin: .5em 0;
    padding: 1.5em 0 1.5em 1em;
    border: .15em solid #ebe8e8;
    border-radius: .55em;
}

.input-box::placeholder {
    padding-left: 1em;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.input-msg-error {
    color: #f72b2b;
    text-align: end;
    font-size: .75em;
    margin-right: .5em;
}

.form-btn {
    margin: 1em 0;
    padding: 1.25em 0;
    text-transform: uppercase;
    background-color: #3ff99f;
    border: none;
    border-radius: .55em;
    color: #ffffff;
    font-weight: 700;
    transition: 1s;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #108a4f;
}

.text-agree {
    font-size: .75em;
    color: #9e9d9d;
}

.agree-link {
    text-decoration: none;
    color: #8989fa;
    font-weight: 700;
}

.agree-link-form {
    color: #f55b5b;
}

.footer-text {
    text-align: center;
    font-size: .85em;
    padding-bottom: 1em;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .form-text {
        width: 50%;
        padding: 0 2em;
    }

    .section-title {
        font-size: 2.75em;
        text-align: left;
    }

    .section-text {
        font-size: 1.2em;
        font-weight: 400;
        text-align: left;
    }
}